<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arms.perfect" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 配置加载图片 -->
    <meta-data
        android:name="com.arms.perfect.glide.GlideModelConfig"
        android:value="GlideModule" />
</manifest>
